.App {
  text-align: center;
}


.App-header {
  background-color: #138c8c;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eef3f4;
}

.App-link {
  color: #61dafb;
}


